
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
}




.header {
  max-height: 250px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #00000f;
  color: floralwhite;
}
.carousel {
  background: rgb(45, 45, 45);
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background:rgb(18, 96, 159);
  color: #fffff;
}
.navbar-inverse  .navbar-nav {
  color: #000000;

}



.navbar-inverse .navbar-nav > .active > a {
  background: ;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: rgb(0, 171, 255);
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: rgb(0, 171, 255);
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: rgb(0, 171, 255);
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: rgb(0, 171, 255);
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: rgb(0, 171, 255);
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color:rgb(0, 171, 255);
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: rgb(0, 171, 255);
  color: #000000;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}


body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-color:  #279B61;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
